/*Projects*/
.Projects{
	width: 100%;
	height: 80vh;
	clear: both !important;
  }
  
  .projecttitle{
	width: 100%;
	height: 15vh;
	float: right !important;
  }
  
  .projecttitle h1{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 4vw;
	font-weight: bold;
	color: darkslateblue;
  }

.carousel {
	width: 75vw;
	margin: auto;
}

.carousel1 h2{
	color: darkgoldenrod;
}


